.home {
  margin-top: 10%;
  margin-left: 10%;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 20vh;
  float: left;
}

.containerLinks {
  margin-top: 10%;
}

.login {
  color: white;
  border-radius: 16.5px;
  height: 50px;
  width: 180px;
  outline: none;
  border: 2px solid #ffffff;
}

.register {
  margin-top: 10%;
  border-radius: 16.5px;
  height: 50px;
  width: 180px;
  outline: none;
  border: 2px solid #ffffff;
}
