.video {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.chat {
  margin-top: 100px;
  justify-content: center;
}

.container-chat {
  margin-top: 10px;
  max-height: 400px;
  overflow: auto;
}

#buttonSend {
  margin-left: 10px;
}

.mensaje {
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  padding: 10px;
  color: #333;
}

.moderador{
  background-color: darkgrey;
  color: aquamarine;
}